<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dg006.fluttershop" >

    <!-- The INTERNET permission is required for development. Specifically,
         flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
	

	
	<!--
	<dist:module dist:instant="false" dist:onDemand="false"
            dist:title="@string/title_dynamic_feature">
        <dist:fusing dist:include="true" />
    </dist:module>
	-->
	
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- GPS 定位信息 需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

<!--    如果您还想在后台访问用户的位置，请在访问后台位置之前使用该API，并在清单文件中添加后台权限-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <!-- END  GPS 定位信息 -->

    <!-- io.flutter.app.FlutterApplication is an android.app.Application that
         calls FlutterMain.startInitialization(this); in its onCreate method.
         In most cases you can leave this as-is, but you if you want to provide
         additional functionality it is fine to subclass or reimplement
         FlutterApplication and put your custom class here. -->
<!--   refer to  https://github.com/flutter/flutter/wiki/Upgrading-pre-1.12-Android-projects-->
<!--       <application-->
<!--        android:name="io.flutter.app.FlutterApplication"-->
<!--             >-->
<!--          </application>-->


<!--           <application-->
<!--            android:name="${applicationName}"-->
<!--                 >-->
<!--              </application>-->

      <application
          android:label="flutter_shop"
          android:icon="@mipmap/ic_launcher" >

          <meta-data
          android:name="flutterEmbedding"
          android:value="2" />

          <activity
              android:name=".MainActivity"
              android:launchMode="singleTop"
              android:theme="@style/LaunchTheme"
              android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
              android:hardwareAccelerated="true"
              android:windowSoftInputMode="adjustResize">
              <!-- This keeps the window background of the activity showing
                   until Flutter renders its first frame. It can be removed if
                   there is no splash screens (such as the default splash screens
                   defined in @style/LaunchTheme). -->
<!--            <meta-data-->
<!--                android:name="io.flutter.app.android.SplashScreenUntilFirstFrame"-->
<!--                android:value="true" />-->
              <meta-data
                  android:name="io.flutter.embedding.android.SplashScreenUntilFirstFrame"
                  android:value="true" />
              <!--  google地图API KEY  -->
              <meta-data android:name="com.google.android.geo.API_KEY"
                  android:value="AIzaSyChkkF4LyVqpDUldBUQqHyN7L8ic7tQuEg"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
