<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241903979562-m15e6jp5c4ojc849vke3bm2rvdkne138.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241903979562-m15e6jp5c4ojc849vke3bm2rvdkne138</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>241903979562-5m40lp3ore8956upmo9l1dsoqupksvbb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5b1Lvx1-iQ93H4U1h1MeMYNsWycfk9UI</string>
	<key>GCM_SENDER_ID</key>
	<string>241903979562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dg006.fluttershop</string>
	<key>PROJECT_ID</key>
	<string>fluttershop-331815</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttershop-331815.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241903979562:ios:75ec400c3fd404d6a34753</string>
</dict>
</plist>